version: '3'
services:

  app-database:
    image: "{{database_docker_image_name}}:{{database_docker_image_tag}}"
    container_name: {{database_server_name}}
    volumes:
      - salesman-data:/var/lib/postgresql/data
    ports:
      - {{db_port}}:{{db_port}}
    environment:
      - POSTGRES_DB={{db_name}}
      - POSTGRES_USER={{db_user}}
      - POSTGRES_PASSWORD={{db_pass}}
    networks:
      customnetwork:
        ipv4_address: 172.20.0.13


  app-backend:
    build: ./Backend
    container_name: {{backend_server_name}}
    environment:
      - DB_SERVER=app-database
    ports:
      - {{backend_docker_port}}:{{backend_docker_port}}
    links:
      - app-database
    networks:
      customnetwork:
        ipv4_address: 172.20.0.12


  app-prediction:
    build: ./Prediction
    container_name: {{prediction_server_name}}
    ports:
      - {{prediction_docker_port}}:{{prediction_docker_port}}
    links:
      - app-backend
    networks:
      customnetwork:
        ipv4_address: 172.20.0.11


  app-frontend:
    build: ./Frontend
    container_name: {{frontend_server_name}}
    ports:
      - {{html_port}}:{{html_port}}
    links:
      - app-backend
    networks:
      customnetwork:
        ipv4_address: 172.20.0.10

networks:
  customnetwork:
    ipam:
      config:
        - subnet: 172.20.0.0/16

volumes:
  salesman-data:
