version: '3'
services:

  app-database:
    image: "postgres:9.6-alpine"
    container_name: salesman-database
    volumes:
      - salesman-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=salesman
      - POSTGRES_USER=salesman
      - POSTGRES_PASSWORD=salesman
    networks:
      customnetwork:
        ipv4_address: 172.20.0.13


  app-backend:
    build: ./Backend
    container_name: salesman-backend
    environment:
      - DB_SERVER=app-database
    ports:
      - 8080:8080
    links:
      - app-database
    networks:
      customnetwork:
        ipv4_address: 172.20.0.12


  app-prediction:
    build: ./Prediction
    container_name: salesman-prediction
    ports:
      - 8090:8090
    links:
      - app-backend
    networks:
      customnetwork:
        ipv4_address: 172.20.0.11


  app-frontend:
    build: ./Frontend
    container_name: salesman-frontend
    ports:
      - 80:80
      - 443:443
    links:
      - app-backend
    networks:
      customnetwork:
        ipv4_address: 172.20.0.10

networks:
  customnetwork:
    ipam:
      config:
        - subnet: 172.20.0.0/16

volumes:
  salesman-data:
